* { font-family: 'Source Sans Pro'; font-weight: 300; font-size: 16px; }
table { border-collapse: collapse; background: rgba(255, 0, 0, 0.2); }
thead { background-color: rgba(96, 101, 111, 0.75); color: rgb(255,255,255); font-weight: 400; text-shadow: 1px 1px 0px rgba(96, 101, 111, 0.75); }
th { padding: 5px 20px 5px 5px; border: 1px solid rgb(96, 101, 111); }
tbody {}
td { padding: 5px 20px 5px 5px; border: 1px solid rgba(96, 101, 111, 0.4); }
h2 { font-size: 2em; color: rgb(80, 90, 100); font-weight: 600; }
pre { border: 1px solid #999999; padding: 10px; border-radius: 4px; background-color: #eeeeee; font-family: monospace; font-size: 0.9em; color: rgb(80, 90, 100); }
